{% from "bootstrap5/form.html" import render_form %} {% extends "template.html" %}

{% block title %}Home{% endblock title %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/base-plugin@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/lock-plugin@1.2.1/dist/index.umd.min.js"></script>
{% endblock head %}

{% block content %}
<h1>To-do List Project</h1>
<!-- Tab container -->

<div class="d-flex align-items-start m-5">
  <!-- Tab Links -->
  <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <h3>Project Categories</h3>
    {% for category in all_categories %}
    <button class="nav-link" id="v-pills-{{category.name}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{category.name}}" type="button" role="tab" aria-controls="v-pills-{{category.name}}" aria-selected="false">{{category.name}}</button>
    {% endfor %}
    <button class="nav-link" id="v-pills-new-category-tab" data-bs-toggle="pill" data-bs-target="#v-pills-new-category" type="button" role="tab" aria-controls="v-pills-new-category" aria-selected="false">Add New Category</button>
  </div>
  <!-- Tab Content -->
  <div class="tab-content" id="v-pills-tabContent">
    <h4>Projects</h4>
    {% for category in all_categories %}
    <div class="tab-pane fade" id="v-pills-{{category.name}}" role="tabpanel" aria-labelledby="v-pills-{{category.name}}-tab">
      <div class="accordion" id="ProjectsAccordion">
        {% for project in category.projects %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-project-{{project.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-project-{{project.id}}" aria-expanded="true"  aria-controls="accordion-item-project-{{project.id}}">
                  {{ project.name }} 
                  {% if project.due_date %}
                    ({{ project.due_date.strftime('%d-%m-%Y') }})
                  {% else %}
                    (No due date)
                  {% endif %}
                </button>
            </h2>
            <div id="accordion-item-project-{{project.id}}" class="accordion-collapse collapse" aria-labelledby="heading-project-{{project.id}}">
                <div class="accordion-body">
                  <ul>
                    {% for task in project.tasks %}
                    <li>
                      <div class="accordion" id="tasksAccordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading-task-{{ task.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-task-{{ task.id }}" aria-expanded="true" aria-controls="accordion-item-task-{{ task.id }}">
                              {{ task.name }} 
                              {% if task.due_date %}
                                ({{ task.due_date.strftime('%d-%m-%Y') }})
                              {% else %}
                                (No due date)
                              {% endif %}
                            </button>
                          </h2>
                          <div id="accordion-item-task-{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="heading-task-{{ task.id }}">
                            <div class="accordion-body">
                              {{task.content}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                    <li>
                      <div class="accordion" id="tasksAccordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading-task-add">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-task-add" aria-expanded="true" aria-controls="accordion-item-task-add">
                              Add new task to {{project.name}}
                            </button>
                          </h2>
                          <div id="accordion-item-task-add" class="accordion-collapse collapse" aria-labelledby="heading-task-add">
                            <div class="accordion-body">
                              <form method="POST" action="{{ url_for('main.index') }}">
                                <input type="hidden" name="project_id" value="{{ project.id }}">
                                {{ render_form(task_form, button_map={"submit": "primary"}) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>                    
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-task-add-new-task">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#add-new-project-accordion-item" aria-expanded="true" aria-controls="add-new-project-accordion-item">
                Add new Project
              </button>
          </h2>
          <div id="add-new-project-accordion-item" class="accordion-collapse collapse" aria-labelledby="heading-task-add-new-task">
              <div class="accordion-body">
                <form method="POST" action="{{ url_for('main.index') }}">
                  <input type="hidden" name="category_id" value="{{ category.id }}">
                  {{ render_form(project_form, button_map={"submit": "primary"}) }}
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="tab-pane fade" id="v-pills-new-category" role="tabpanel" aria-labelledby="v-pills-new-category-tab">{{ render_form(category_form, button_map={"submit": "primary"}) }}</div>
  </div>
</div>

<!-- Jquery for bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Own Js JS -->
<script src="../static/js/tab_handler.js"></script>
<script src="../static/js/date_picker.js"></script>
{% endblock content %}